@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: GothamRoundedBook;
  src: url("../public/fonts/GothamRoundedBook.ttf");
}

@font-face{
  font-family: GothamRoundedBold;
  src: url("../public/fonts/GothamRoundedBold.ttf");
}

@font-face{
  font-family: GothamRoundedMedium;
  src: url("../public/fonts/GothamRoundedMedium.ttf");
}

@font-face{
  font-family: GothamRoundedLight;
  src: url("../public/fonts/GothamRoundedLight.ttf");
}

/* --------------- CSS FOR ADD BOOK PAGE STARTS HERE -------------- */
.addbooktitle{
  margin-top: 50px;
  font-family: GothamRoundedBook;
  text-align: center;
}

.addbookbtn{
  font-family: GothamRoundedBook;
  width: 115px;
}

.resetbtn{
  font-family: GothamRoundedBook;
  width: 115px;
}

.cancelbtn{
  font-family: GothamRoundedBook;
  width: 115px;
}

.bookslisttitle{
  font-family: GothamRoundedBook;
  text-align: center; 
}

.addauthortitle{
  font-family: GothamRoundedBook;
}

.addauthorbtn{
  font-family: GothamRoundedBook;
}

.authorlisttitle{
  font-family: GothamRoundedBook;
  text-align: center; 
}

.textareabookdesc{
  width : 98.5%;
  height: 181px;
}

.ctn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addbookctn1{
  margin-top: 100px;
  margin-right: 10px;
  /* background-color: pink; */
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.addbookctn2{
  margin-top: 100px;
  margin-left: 10px;
  /* background-color: salmon; */
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btnctn{
  width: 18%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: pink; */
  margin-left: 379px;
  margin-top: 60px;
}

@media screen and (max-width:800px){
  .ctn{
    align-items: center;
    flex-direction: column;
  }
  .addbookctn1, .addbookctn2{
    margin-top: 20px;
    width: 90%;
  }
}
/* --------------- CSS FOR ADD BOOK PAGE ENDS HERE -------------- */

/* --------------- CSS FOR ALL BOOKS PAGE STARTS HERE -------------- */

.allBooksMainCont{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.allBooksTable{
  
  width: 90%;
  margin-left: 5%;
}

th, td{
  border: 2px solid black
}

td {
  text-align: center;        
  vertical-align: middle;    
  padding: 10px;             
}

td img {
  display: inline-block;     
  max-width: 150px;          
  height: auto;              
}




/* --------------- CSS FOR ALL BOOKS PAGE ENDS HERE -------------- */

a{
  @apply text-red-600 font-semibold;
}
a.active{
  @apply underline text-red-400;
}

input, textarea, select{
  @apply border border-black block my-2 mx-1 p-1
}
textarea{
  @apply h-fit w-fit
}
button{
  @apply bg-red-500 hover:bg-red-600 rounded-lg p-2 text-white border
}

ul{
  @apply list-disc list-inside
}
ol{
  @apply list-decimal list-inside
}
h1{
  @apply text-3xl font-black
}
h2{
  @apply text-xl font-semibold
}


/* //for books slider css */
.slick-slide>div{
  margin: 0 5px;
}
.slick-slide{
  background-color: white;
}
.slick-prev:before,
.slick-next:before {
  color: brown; 
  font-size: 30px;

}
.slick-arrow {
z-index: 1;
width: 40px;
height: 40px;
}

